<template name="Login">
    <div  class="loginWrap">
        <h1 class="formhead" align="center">UltraInvestors</h1>
        {{#autoForm schema="Schema.login" id="loginForm" }}
            {{> afQuickField label="Email - ID" name="email" class="email" placeholder="email"}}
            <br>
            {{> afQuickField label="Password" name="password" class="password" placeholder="Password" type="password"}}
            <br>
            <div>
                <button id='processing' type="submit" class="secure">Login</button>
            </div>
        {{/autoForm}}
    </div>
</template>


