.loginWrap{
    font-family:Arial;
    border:1px solid #333333;
    background-color:#E0E6F8;
    margin:150px auto;
    width: 300px;
    height:250px;
    text-align: left;
    padding: 75px;
}

.logout {
    font-family: Arial;
    font-size: 15px;
}

.portfolio{
    font-family: Arial;
    border:1px solid #333333;
    background-color:#E0E6F8;
    padding: 15px;
    font-size: 15px;
}

.portfolio h4, .portfolio legend, .portfolio h5 {
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
}

.footer p {
    font-family: Arial;
    font-size: 15px;
}

.createUser{
    font-family: Arial;
    border:1px solid #333333;
    background-color:#E0E6F8;
    padding: 15px;
}
