<template name="portfolio">
    <a class="logout" id="logoutUser" href="{{pathFor 'logout'}}" title="LogOut">Log Out</a>
    <div class="portfolio">
        <h4>{{ balance }}</h4>

        <br>
        <br>

        <div>
            <legend>Disclaimer</legend>
            <h5>{{ disclaimer }}</h5>
        </div>
    </div>



    {{> footer}}
</template>