<head>
    <title>Ultra</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="user-scalable=no, width=device-width, maximum-scale=1, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" id="fizzy_roboto-css" href="//fonts.googleapis.com/css?family=Roboto:400,300,700|Roboto+Condensed:400,300,700" type="text/css" media="all">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&key=AIzaSyA7Ir2GSzmnf4aSLIFoaEKdILK1OjJNruo"></script>
    <script src="/js/scripts.js"></script>

    </head>

<template name="header">

</template>
