<template name="createUltraUser">

    <div class="createUser">
        <h1 class="formhead">Create Ultra User</h1>
        {{#autoForm id="insertUltraInvestorsForm" schema="Schema.createUltraInvestors"}}
                 <div>
                    <fieldset>
                        {{> afQuickField label='Email ID' name='email' id='email' placeholder="email" }}
                        {{> afQuickField label='password' name='password' id='password' placeholder="password"}}
                         <legend>Link the investor to Ultra Trading System</legend>
                        {{> afQuickField label='investor' name='investorID' id='investorID' }}
                        {{> afQuickField lable='secretkey' name='secretKey' id='secretKey' }}
                    </fieldset>
                 </div>

            <button type="submit" id="processing" class={{readyToSubmit}} >Create User</button>
        {{/autoForm}}
    </div>

</template>
